@import "~src/variables";

mat-icon {
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  mask-repeat: no-repeat !important;
  mask-size: 100% !important;
}

.icon-home {
  mask-image: url('../../../../../../assets/icon-home.png');
  background: $color-primary !important;
}

.icon-user {
  mask-image: url('../../../../../../assets/icon-user.png');
  background: $color-primary !important;
}

.icon-key {
  mask-image: url('../../../../../../assets/icon-key.png');
  background: $color-primary !important;
}

.icon-settings {
  mask-image: url('../../../../../../assets/icon-settings.png');
  background: $color-primary !important;
}

.icon-edit {
  mask-image: url('../../../../../../assets/icon-edit.png');
  background: $color-inactive-dark !important;
}

.icon-generate-key {
  mask-image: url('../../../../../../assets/icon-generate-key.png');
  background: $color-inactive-dark !important;
}

.icon-import {
  mask-image: url('../../../../../../assets/icon-import.png');
  background: $color-inactive-dark !important;
}

.icon-about {
  mask-image: url('../../../../../../assets/icon-about.png');
  background: $color-inactive-dark !important;
}

.icon-destroy {
  mask-image: url('../../../../../../assets/icon-destroy.png');
  background: $color-inactive-dark !important;
}

.icon-export {
  mask-image: url('../../../../../../assets/icon-export.png');
  background: $color-inactive-dark !important;
}

.icon-lock {
  mask-image: url('../../../../../../assets/icon-lock.png');
  background: $color-inactive-dark !important;
}

.icon-language {
  mask-image: url('../../../../../../assets/icon-language.png');
  background: $color-inactive-dark !important;
}

.icon-network {
  mask-image: url('../../../../../../assets/icon-network.png');
  background: $color-inactive-dark !important;
}

.icon-logo {
  mask-image: url('../../../../../../assets/icon-logo.png');
  background: $color-primary !important;
}

.icon-file {
  mask-image: url('../../../../../../assets/icon-file.png');
  background: $color-primary !important;
}

.icon-en {
  background: url('../../../../../../assets/icon-en.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}

.icon-de {
  background: url('../../../../../../assets/icon-de.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}

.icon-fr {
  background: url('../../../../../../assets/icon-fr.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}

.icon-it {
  background: url('../../../../../../assets/icon-it.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}

.icon-sp {
  background: url('../../../../../../assets/icon-sp.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}

.icon-ru {
  background: url('../../../../../../assets/icon-ru.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 15px;
}

.icon-warning {
  mask-image: url('../../../../../../assets/icon-warning.png');
  background: $color-warning !important;
  width: 50px;
  height: 50px;
}
