<div class="content">
  <div class="logo">
    <app-icon type="icon-logo"></app-icon>
    <div class="plugin">
      <h1>{{ 'routes.settings.about.plugin' | translate }}</h1>
      <p><span>{{ 'routes.settings.about.version' | translate }}</span>: 0.9.0b</p>
    </div>
  </div>

  <ul>
    <li><a href="">{{ 'routes.settings.about.privacy' | translate }}</a></li>
    <li><a href="">{{ 'routes.settings.about.terms' | translate }}</a></li>
    <li><a href="">{{ 'routes.settings.about.attribution' | translate }}</a></li>
  </ul>
</div>
