<div class="registration">
  <div class="logo">
    <app-icon type="icon-logo"></app-icon>
    <p>
      EOS PLUGIN
    </p>
  </div>
  <div>
    <form #form="ngForm">
      <app-password
        name="password"
        [ngModel]="value"
        #password="ngModel"
        [label]="'routes.registration.password' | translate"
        [errors]="passwordErrors"
        required
        minlength="8"
      ></app-password>
      <app-password
        name="passwordConfirm"
        ngModel
        #passwordConfirm="ngModel"
        [label]="'routes.registration.passwordConfirm' | translate"
        [errors]="passwordConfirmErrors"
        required
        minlength="8"
      ></app-password>
      <app-button [label]="'routes.registration.submit' | translate" (click)="onRegister()" [disabled]="form.invalid || passwordEqualityError"></app-button>
    </form>
  </div>
</div>
