<div class="login">
  <div class="logo">
    <app-icon type="icon-logo"></app-icon>
    <p>
      EOS PLUGIN
    </p>
  </div>
  <div>
    <form #form="ngForm">
      <app-password
        name="password"
        [ngModel]="value"
        [ngModelOptions]="{updateOn: 'blur'}"
        #password="ngModel"
        [label]="'routes.login.password' | translate"
        [errors]="passwordErrors"
        required
      ></app-password>
      <a href="">Delete Data</a>
      <app-button [label]="'routes.login.submit' | translate" (click)="onLogin()" [disabled]="form.invalid"></app-button>
    </form>
  </div>
</div>
