form {
  padding: 0 25px;
}

mat-divider {
  margin: 20px -25px 0 -25px;
}

h1 {
  text-align: center;
  padding: 25px 0 15px 0;
}

.network-account-panel {
  display: flex;
  padding: 5px 0;

  p {
    flex-grow: 1;
    text-align: center;
  }
}
