<div>
  <form #form="ngForm">
    <app-text
      name="name"
      [ngModel]="account.name"
      [label]="'routes.keys.accounts.account.name' | translate"
      required
    ></app-text>
    <app-password
      name="privateKey"
      [(ngModel)]="account.keypair.privateKey"
      [label]="'routes.keys.accounts.account.privateKey' | translate"
      (ngModelChange)="onPrivateKeyChanged()"
      required
    ></app-password>
    <app-text
      name="publicKey"
      [(ngModel)]="account.keypair.publicKey"
      [label]="'routes.keys.accounts.account.publicKey' | translate"
      disabled
      required
    ></app-text>

    <mat-divider></mat-divider>

    <h1>{{ 'routes.keys.accounts.account.eos' | translate }}</h1>

    <app-select
      name="network"
      [ngModel]="account.network"
      [label]="'routes.keys.accounts.account.network' | translate"
      [options]="networkOptions"
      (select)="onNetworkSelect($event)"
      required
    ></app-select>

    <app-select
      #selectedAccounts="ngModel"
      name="account"
      [multiple]="true"
      [ngModel]="account.accounts"
      [label]="'routes.keys.accounts.account.networkAccounts' | translate"
      [options]="accountOptions"
      required
    ></app-select>
    <div *ngFor="let networkAccount of selectedAccounts.value" class="network-account-panel">
      <p>{{ networkAccount.label }}</p>
      <app-toolbar-icon type="remove" (click)="onDeleteAccount(networkAccount)"></app-toolbar-icon>
    </div>
  </form>
</div>
