<div class="content">
  <p>{{ 'routes.keys.generate.message' | translate }}</p>
  <form>
    <app-text
      name="publicKey"
      #public="ngModel"
      [(ngModel)]="publicKey"
      [label]="'routes.keys.generate.publicKey' | translate"
      required
    ></app-text>
    <a href="" (click)="onCopyPublicKey($event)">Copy</a>

    <app-text
      name="privateKey"
      #private="ngModel"
      [(ngModel)]="privateKey"
      (ngModelChange)="onPrivateKeyEnter()"
      [label]="'routes.keys.generate.privateKey' | translate"
      required
    ></app-text>
    <a href="" (click)="onCopyPrivateKey($event)">Copy</a>
  </form>
</div>
