@import "~src/variables";

.content {
  padding: 0 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 15px 0;
  font-size: 16px;
  text-transform: uppercase;

  h2 {
    flex-grow: 1;
  }

  app-icon {
    align-self: flex-end;
    border: 1px solid $color-primary;
    padding: 5px 7px;
    cursor: pointer;
    margin-left: auto;
  }
}

.balance table {
  width: 100%;
  td {
    font-size: 12px;
    padding: 5px 0;

    &:first-child {
      padding: 5px 3px 5px 0;
      color: $color-primary;
      font-family: $font-family-secondary;
      font-weight: 700;
    }

    span {
      color: $color-inactive-dark;
    }
  }
}

.dashboard {
  display: flex;
  width: 100%;
  margin: 15px 0;
  text-align: center;

  .chart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-size: 12px;

    &:first-child {
      align-items: flex-start;
    }

    &:last-child {
      align-items: flex-end;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h4 {
      position: absolute;
      top: 29px;
    }

    mat-progress-spinner {
      margin: 8px 0;
    }

    .caption {
      position: relative;
    }

    .caption span {
      font-weight: 600;
    }

    .caption p {
      position: absolute;
      display: flex;
      font-size: 10px;
      width: 100%;
      justify-content: center;
      white-space: nowrap;
    }
  }
}

.controls {
  padding: 10px 0;

  app-button {
    line-height: 40px;
    text-transform: uppercase;
  }
}

.transactions {
  h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  table {
    width: 100%;
    td {
      font-size: 12px;
      padding: 5px 10px 5px 0;

      &:first-child {
        padding-right: 0;
      }

      span {
        font-weight: 600;

        &.from {
          color: $color-success;
        }
        &.to {
          color: $color-danger;
        }
      }
    }
  }
}

::ng-deep .chart {
  .mat-progress-spinner {
    circle {
      stroke: #f1d69f;
    }
  }
  .mat-progress-spinner.background {
    position: absolute;
    circle {
      stroke: #fceccc;
    }
  }

  &:first-child {
    .mat-progress-spinner {
      circle {
        stroke: #9ca1c8;
      }
    }
    .mat-progress-spinner.background {
      position: absolute;
      circle {
        stroke: #dcdfef;
      }
    }
  }

  &:last-child {
    .mat-progress-spinner {
      circle {
        stroke: #adcb82;
      }
    }
    .mat-progress-spinner.background {
      position: absolute;
      circle {
        stroke: #ddeacb;
      }
    }
  }
}

.empty {
  position: relative;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;

  app-button {
    display: block;
    margin: 0 auto;
    width: 110px;
    margin-top: 20px;
    line-height: 25px;
  }
}

.lds-ring {
  display: flex;
  position: relative;
  height: 32px;
  width: 100%;
  justify-content: center;
  margin-left: -5px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 3px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
