<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>
<h1>{{ 'home.dashboard' | translate }}</h1>

<button mat-button (click)="openDialog()">Dialog</button>

<form #form="ngForm">
  <app-text name="text-input" [label]="'Test input'" ngModel></app-text>
  <app-button [label]="'Submit'" (click)="onSubmit(form)"></app-button>
</form>
