@import "~src/variables";

.mat-list-item {
  height: inherit;
  font-size: 14px;
}

.network-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 10px;

  > div {
    display: flex;
  }

  .name, .host {
    flex-grow: 1;
  }

  .name, .port span {
    color: $color-primary;
    font-weight: 700;
  }
}

.network-edit {
  background: #f5f9fd;

  form {
    padding: 15px 10px;
  }

  div {
    display: flex;
    justify-content: center;
  }

  app-button {
    width: 70px;
    line-height: 23px;
    margin: 0 10px;
    font-size: 12px;
  }
}
