<mat-list>
  <ng-container *ngFor="let network of networks$ | async">
    <mat-list-item>
      <div class="network-panel">
        <div>
          <p class="name">{{ network.name }}</p>
          <app-toolbar-icon [type]="network.selected ? 'selected' : 'select'" (click)="onSelect(network)"></app-toolbar-icon>
          <app-toolbar-icon type="edit" [class.disabled]="hasAccounts(network)" (click)="onEdit(network)"></app-toolbar-icon>
          <app-toolbar-icon type="remove" (click)="onDelete(network)"></app-toolbar-icon>
        </div>
        <div>
          <a class="host" href="#">{{ network.host }}</a>
          <p class="port"> <span>Port:</span> {{ network.port }}</p>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item *ngIf="isEditing(network)" class="network-edit">
      <form #form="ngForm">
        <app-text name="name" [(ngModel)]="editableNetwork.name" [label]="'routes.settings.networks.name' | translate" required></app-text>
        <app-text name="host" [(ngModel)]="editableNetwork.host" [label]="'routes.settings.networks.host' | translate" required></app-text>
        <app-text name="port" [(ngModel)]="editableNetwork.port" [label]="'routes.settings.networks.port' | translate" required></app-text>
        <div>
          <app-button type="accept" [label]="'routes.settings.networks.save' | translate" (click)="onUpdate()" [disabled]="form.invalid"></app-button>
          <app-button type="reject" [label]="'routes.settings.networks.cancel' | translate" (click)="editableNetwork = null"></app-button>
        </div>
      </form>
      <mat-divider></mat-divider>
    </mat-list-item>
  </ng-container>
  <mat-list-item class="network-edit" *ngIf="newNetwork">
    <form #form="ngForm">
      <app-text name="name" [(ngModel)]="newNetwork.name" [label]="'routes.settings.networks.name' | translate" required></app-text>
      <app-text name="host" [(ngModel)]="newNetwork.host" [label]="'routes.settings.networks.host' | translate" required></app-text>
      <app-text name="port" [(ngModel)]="newNetwork.port" [label]="'routes.settings.networks.port' | translate" required></app-text>
      <div>
        <app-button type="accept" [label]="'routes.settings.networks.create' | translate" (click)="onCreate()" [disabled]="form.invalid"></app-button>
        <app-button type="reject" [label]="'routes.settings.networks.cancel' | translate" (click)="newNetwork = null"></app-button>
      </div>
    </form>
  </mat-list-item>
</mat-list>
