
@import "~src/variables";

:host {
  width: 100%;
  padding: 0px 30px 0 25px;
}

app-icon {
  margin: 0 15px 0 0;
  width: 17px;
  height: 17px;
}

::ng-deep .icon-lock {
  width: 14px !important;
}

::ng-deep .icon-destroy {
  width: 14px !important;
}

::ng-deep .mat-list-item {
  color: $color-inactive-dark !important;
  font-family: $font-family-secondary;
}

app-icon[type='keyboard_arrow_right'] {
  position: absolute;
  right: 0;
  color: $color-primary !important;
}
