<div>
  <div class="header">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let link of navLinks"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLink]="link.path"
        [active]="rla.isActive"
      >
        <app-icon [type]="link.icon"></app-icon>
      </a>
      <div mat-button [matMenuTriggerFor]="menu" class="menu">
        {{ selectedNetwork$ | async }}
      </div>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <li mat-menu-item *ngFor="let network of networks$ | async" (click)="onSelectNetwork(network)">{{ network.name }}</li>
      </mat-menu>
    </nav>
  </div>
  <div class="content">
    <app-page-layout>
      <router-outlet></router-outlet>
    </app-page-layout>
  </div>
</div>
