<div>
  <div class="header">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
          *ngFor="let link of navLinks"
          routerLinkActive
          #rla="routerLinkActive"
          [routerLink]="link.path"
          [active]="rla.isActive"
      >
        <app-icon [type]="link.icon"></app-icon>
      </a>
      <div class="controls">
        {{ selectedNetwork$ | async }}
      </div>
    </nav>
  </div>
  <div class="content">
    <app-page-layout>
      <router-outlet></router-outlet>
    </app-page-layout>
  </div>
</div>
