@import "~src/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.mat-tab-link {
  min-width: 40px;
  padding: 10px 12px;
}

.mat-ink-bar {
  width: 40px;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 25px;
}

::ng-deep .ng-scrollbar {
  background: $color-inactive-light;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 5px !important;
}

::ng-deep .ng-scrollbar-thumb {
  border-radius: 0 !important;
  background: $color-primary !important;
}

app-icon {
  width: 17px;
  height: 17px;
}
