<div class="content">
  <p>{{ 'routes.settings.password.message' | translate }}</p>
  <form #form="ngForm">
    <app-password
      name="password"
      ngModel
      #password="ngModel"
      [label]="'routes.settings.password.password' | translate"
      [errors]="passwordErrors"
      required
      minlength="8"
    ></app-password>
    <app-password
      name="newPassword"
      ngModel
      #newPassword="ngModel"
      [label]="'routes.settings.password.newPassword' | translate"
      [errors]="newPasswordErrors"
      required
      minlength="8"
    ></app-password>
    <app-password
      name="newPasswordConfirm"
      ngModel
      #newPasswordConfirm="ngModel"
      [label]="'routes.settings.password.newPasswordConfirm' | translate"
      [errors]="newPasswordConfirmErrors"
      required
      minlength="8"
    ></app-password>
  </form>
</div>

