<div class="content">
  <p>{{ 'routes.settings.password.message' | translate }}</p>
  <form #form="ngForm">
      <app-password
      name="password"
      ngModel
      [ngModelOptions]="{updateOn: 'blur'}"
      [label]="'routes.settings.password.password' | translate"
      [errors]="passwordErrors"
      required
    ></app-password>
    <app-password
      name="newPassword"
      ngModel
      [ngModelOptions]="{updateOn: 'blur'}"
      [label]="'routes.settings.password.newPassword' | translate"
      [errors]="newPasswordErrors"
      required
    ></app-password>
    <app-password
      name="newPasswordConfirm"
      ngModel
      [ngModelOptions]="{updateOn: 'blur'}"
      [label]="'routes.settings.password.newPasswordConfirm' | translate"
      [errors]="newPasswordConfirmErrors"
      required
    ></app-password>
  </form>
</div>

