h1 {
  width: 100%;
  text-align: center;
  padding: 25px 0 15px 0;
}

a {
  position: absolute;
  top: 22px;
  left: 10px;

  app-icon {
    font-size: 32px;
  }
}

.content {
  height: 445px;
}

app-button {
  display: block;
  padding: 20px 25px;
  width: 100%;
  line-height: 36px;
  text-transform: uppercase;
}
