<mat-form-field [class.loading]="isLoading">
  <mat-select *ngIf="!multiple" [placeholder]="label" [ngModel]="value" (selectionChange)="onSelect($event)" [required]="required">
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <mat-select *ngIf="multiple" [placeholder]="label" [ngModel]="value" (selectionChange)="onSelect($event)" [required]="required" multiple>
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="errors">
    <p *ngFor="let error of controlErrors">
      {{ 'shared.form.errors.' + error | translate }}
    </p>
  </mat-hint>
  <div class="lds-hourglass" *ngIf="isLoading"></div>
</mat-form-field>
