@import "~src/variables";

mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-label {
  padding: 0 10px;
  color: $color-primary !important;
}

::ng-deep .mat-input-element {
  padding: 0 10px;
}

::ng-deep .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
