<div>
  <app-button icon="add" [label]="'routes.keys.accounts.add' | translate" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </app-button>

  <mat-list>
    <mat-list-item *ngFor="let account of accounts">
      <div class="account-panel" [class.disabled]="isDisabled(account)">
        <div class="network-panel">
          <div>
            <p class="name">{{ account.name }}</p>
            <p class="host">{{ account.network.host }}</p>
          </div>
          <div>
            <app-toolbar-icon type="edit" (click)="!isDisabled(account) && onEdit(account)"></app-toolbar-icon>
            <app-toolbar-icon type="remove" (click)="!isDisabled(account) && onDelete(account)"></app-toolbar-icon>
          </div>
        </div>
        <div *ngFor="let networkAccount of account.accounts" class="network-account-panel">
          <p>{{ networkAccount.name }}@{{ networkAccount.authority }}</p>
          <app-toolbar-icon [type]="networkAccount.selected ? 'selected' : 'select'" (click)="!isDisabled(account) && onSelectAccount(networkAccount)"></app-toolbar-icon>
          <app-toolbar-icon type="remove" (click)="!isDisabled(account) && onDeleteAccount(networkAccount)"></app-toolbar-icon>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
