/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "theme";
@import "~src/variables";

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  position: absolute;
  width: 350px;
  height: 650px;
}

.flex-container {
  height: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
}
