
$color-primary: #5791d0;
$color-secondary: #6aa4e3;
$color-inactive-light: #d1d1d1;
$color-inactive-dark: #999999;
$color-dark: #303030;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Source Sans Pro', sans-serif;

